{% block add_new %}	
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">×</span>
			<div class="add-new-form-container">
				<h4> Add New Artist </h4>
				<form id="add-new-form" class="add-new-form" action="#" method="POST">
				{% csrf_token %}
					<ul>
						<input type="hidden" name="element_type" value="artist"></input>
						<li><div class="form-field-name">Artist Name :</div>
							<input type="text" id="artist" name="artist" value=''></input>
						</li>
						<li><button class="button-primary" type="submit" id="submit-form" data-tab-type="artist">Submit</button></li>
					</ul>
				</form>
			</div>
		</div>
	</div>
{% endblock add_new %}