{% block add_new %}	
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">×</span>
			<div class="add-new-form-container">
				<h4> Add New Genre </h4>
				<form id="add-new-form" class="add-new-form" action="#" method="POST">
				{% csrf_token %}
					<ul>
						<input type="hidden" name="elemnt_type" value="genre"></input>
						<li><div class="form-field-name">Genre Name :</div>
							<input type="text" id="genre" name="genre" value=''></input>
						</li>
						<li><button class="button-primary" type="submit" id="submit-form" data-tab-type="genre">Submit</button></li>
					</ul>
				</form>
			</div>
		</div>
	</div>
{% endblock add_new %}